@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");

:root {
  --red: rgb(206, 79, 79);
  --blue: rgb(5, 5, 199);
}

body {
  background-image: url(images/banner4.jpg);
  background-repeat: repeat-y;
}

/* #bg-image {
  background-image: url(images/banner1.jpg);
  background-repeat: space;
} */

#heading {
  font-family: "Shizuru", cursive;
  color: var(--red);
  font-size: 3.5rem;
}

#banner {
  height: 100vh;
}

#navbar li {
  list-style-type: none;
}

li h2 {
  margin-top: 30px;
  transition: font-size 1s;
  font-size: 2.2rem;
}

li h2:hover {
  font-size: 3rem;
}

#navbar a {
  text-decoration: none;
  color: var(--red);
}

a {
  text-decoration: none;
  color: var(--blue);
}
a:hover {
  color: var(--red);
}

li:last-child {
  margin-bottom: 30px;
}

.card-body .card-hidden {
  display: none;
  font-size: 0.9rem;
  transition: display;
}
.card-body:hover .card-hidden {
  display: block;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  display: none;
  transition: display 3s;
}
.card:hover .card-img-top {
  display: block;
}

#construction {
  box-shadow: 10px 10px #797977;
}

@media (max-width: 720px) {
  #heading {
    font-size: 2.6rem;
  }
}

@media (max-width: 520px) {
  #heading {
    font-size: 1.6rem;
  }
  li h2 {
    font-size: 1.5rem;
  }
  li h2:hover {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  #heading {
    font-size: 1rem;
  }
}
